{% load static %} 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static 'duffers/images/frog.png' %}"/>   
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
 
    
     {% block head %}{% endblock head %}
</head>
<body id="mypage">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-green w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-hide-small w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/duffers" class="w3-bar-item w3-button w3-padding-small">HOME</a>
    <a href="/duffers/golfers" class="w3-bar-item w3-button w3-padding-small">Golfers</a>
    <a href="/duffers/courses" class="w3-bar-item w3-button w3-padding-small">Courses</a>
    <a href="/duffers/champs" class="w3-bar-item w3-button w3-padding-small">Champions</a>
  </div>
</div>



<div class="w3-content" style="max-width:2000px; padding-top:30px;">
<div></div>
<div class="w3-khaki w3-container">
<h3 class=""><img src="{% static 'duffers/images/frog.png'%}" class="w3-image w3-center w3-animate-opacity" > The Duffer's Cup <img src="{% static 'duffers/images/frog.png'%}" class="w3-image w3-center w3-animate-opacity" >
</h3></div></div>
        {% block content %}{% endblock content %}
       
    </div>
</body>
</html>
