{% load static %} 

{% load golf_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <title>The Duffer's Cup</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static 'duffers/images/frog.png' %}"/>   
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
 
    
     {% block head %}{% endblock head %}
<script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>     
</head>
<body id="mypage">

<!-- Navbar -->
<div class="w3-top  w3-hide-small">
  <div class="w3-bar w3-green w3-card-2 ">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-hide-small w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/duffers" class="w3-bar-item w3-button w3-padding-small"><i class="fa fa-home"></i></a>
    <a href="/duffers/golfers" class="w3-bar-item w3-button w3-padding-small">Golfers</a>
    <a href="/duffers/courses" class="w3-bar-item w3-button w3-padding-small">Courses</a>
    <a href="/duffers/champs" class="w3-bar-item w3-button w3-padding-small">Champions</a>
    {% if user.is_authenticated %}
    <a href="/maint/enter_score" class="w3-bar-item w3-button w3-padding-small">Enter Scores</a>
     <a href="/maint/logout" class="w3-bar-item w3-button w3-padding-small w3-right"><i class="fa fa-unlock-alt"></i></a> 
     {% else %}
    <a href="/maint" class="w3-bar-item w3-button w3-padding-small w3-right"><i class="fa fa-lock"></i></a>
    {% endif %}
  </div>
 </div> 
  <!-- Sidebar -->
<div class="w3-top  w3-hide-medium w3-hide-large">
 <div class="w3-sidebar w3-bar-block w3-border-right " style="display:none; max-width:140px;" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item ">Close &times;</button>
  <a href="/duffers" class="w3-bar-item w3-button">Home</a>
  <a href="/duffers/golfers" class="w3-bar-item w3-button">Golfers</a>
  <a href="/duffers/courses" class="w3-bar-item w3-button">Courses</a>
  <a href="/duffers/champs" class="w3-bar-item w3-button">Champions</a>
  {% if user.is_authenticated %}
    <a href="/maint/enter_score" class="w3-bar-item w3-button">Enter Score</a>
  {% endif%}  
 </div>
 <div class="w3-teal">
  <button class="w3-button w3-teal " onclick="w3_open()">☰</button> <i>The Finest Golfers in the World</i>
  {% if user.is_authenticated %}
  <a href="/maint/logout" class="w3-right w3-button"><i class="fa fa-unlock"></i></a>
 {% else %} 
 <a href="/maint" class="w3-right w3-button"><i class="fa fa-lock"></i></a>
 {% endif %}  
 </div>
 
 </div>



<div class="w3-content" style="max-width:2000px; padding-top:30px;"> 

<div class="w3-container w3-khaki  w3-border-top w3-border-bottom w3-border-black">

<div class="w3-display-container w3-cell w3-cell-middle w3-padding">
<img src="{% static 'duffers/images/frog.png'%}" class="w3-image">
</div>
<div class="w3-display-container w3-cell w3-cell-middle w3-padding">
   <div class="w3-display-container  w3-text-green w3-center w3-large" style="text-shadow:1px 1px 0 #222">
     The Duffer's Cup
       </div>
  <div class="w3-container w3-hide-small"><i>The Finest Golfers in the World</i></div>

</div>
<div class="w3-display-container w3-cell w3-cell-middle w3-padding">
<img src="{% static 'duffers/images/frog.png'%}" class="w3-image">
</div>
 </div>       {% block content %}{% endblock content %}
 </div>
 <p></p>
 <div class="w3-container w3-green w3-tiny"><div class="w3-right">Version {% the_version %}</div></div>      
 
</body>
</html>
